@{
    ViewData["Title"] = "About Us";
}

<h1>@ViewData["Title"]</h1>

<link rel="stylesheet" href="~/css/AboutUs.css" />

<div class="media-container">

    <div class="media-image">
        <img src="~/css/TeamPic.jpg" alt="Team Pic">
    </div>
    <div class="media-text">
        <p>
            Welcome to Vandbeezington's Weightlifting Equipment where the spirit of Olympic weightlifting comes alive with passion, expertise, a commitment to excellence, and where a dance break is a MUST.
            We’re proud to honor our expectation of premium weightlifting equipment. From plates, barbells, kettlebells and dumbbells to advanced training tools, we carry a comprehensive range of equipment designed to meet the needs of serious weightlifters and coaches. Our products are carefully selected for their durability, safety, and performance to ensure you get the most out of your training sessions.
            Our team brings a combined 45 years of Olympic weightlifting experience to the platform, with each member being a national competitor and medalist. We pride ourselves on not just our personal achievements but our dedication to the growth and success of every lifter and coach who walks clicks on our site.
            Our equipment is amazing, sure, but our commitment to excellence extends beyond equipment. We offer a variety of resources and guidance for coaches, including training programs, technique tips, and performance optimization strategies. Whether you’re a coach looking to refine your athletes' techniques or a lifter seeking personalized advice, we’ve got you covered.
            Our diverse team includes three highly skilled coaches and two experienced physical therapists, all of whom share a profound love for the sport. We understand the trials and tribulations of lifting and the rigorous demands of competition preparation. Our approach is built on the belief that the strength of our community lies in lifters uplifting lifters and coaches supporting coaches.
            At Vandbeezington's', we celebrate the unique family that Olympic weightlifting creates. Whether you’re here to refine your technique, prepare for competition, or simply be part of a supportive and passionate community, our mission is to help you succeed.
            Join us and experience the camaraderie and excellence that define our training philosophy. Together, we can reach new heights and achieve greatness in the world of weightlifting.
            Remember – all dance breaks ARE necessary!
        </p>
    </div>    
</div>

<div class="text-center">
    <h1 class="display-4"> See you on the platform!!</h1>
</div>
