@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Vandbeezington's Olympic Weightlifting Equipment</h1>
    <h2 class="display-7"> Have Fun, Make Lifts! </h2>
</div>

<div class="image-container">
    <img src="~/css/plates.jpg" alt="Black and White kg plates" class="centered-image">
</div>

<link rel="stylesheet" href="~/css/StyleSheet.css">